@charset "utf-8";
A {
    color: #006400;
}

#alt {
    color: #f3f0ed;
}

A.menu {
    font-family: Verdana, Arial Cyr, Arial, sans-serif;
    font-size: 8pt;
    color: #444444;
    text-decoration: none;
}

#white {
    color: #ffffff;
    font-family: Verdana, Arial Cyr, Arial, sans-serif;
    font-size: 9pt;
    text-decoration: none;
}

A:hover {
    text-decoration: none;   
    color: #666666;
    text-decoration: none;
}

A:hover.alt {
    text-decoration: none;   
    color: #f3f0ed;
    text-decoration: none;
}

A:hover.menu {
    text-decoration: none;
    color: #666666;
}

A:hover.white {
    text-decoration: none;
    color: #BFBFBF;
}

.cap {
    font-family: Verdana, Arial Cyr, Arial, sans-serif;
    font-weight: normal; 
    font-size: 10pt;
    color: #666666
}

#header {
    background: none repeat scroll 0 0 #c07541;
    color: #b2c1ce;
    overflow: hidden;
}

/*
TABLE
*/
#data-table {
    width: "100%";
    border-collapse: collapse;
}

#data-table tbody > tr:hover {
    background-color: #f7f7e7;
}

#data-table tbody > tr.dim {
    border-right: 2px solid #ababab;
    border-left: 2px solid #ababab;
}

#data-table tbody > tr.dim:hover {
    color: #f7f7e7 !important;
}

#data-table tr {
    border-right: 2px solid #5b5b5b;
    border-left: 2px solid #5b5b5b;
}

#data-table tr.header {
    background: #bfbfbf;
    font-size: 10pt;
    font-weight: bold;
    border-top: 2px solid #ababab;
}

#data-table tr.header:hover {
    background: #bfbfbf;
}

#data-table tr.footer {
    background: #bfbfbf;
    font-size: 10pt;
    font-weight: bold;
    height: 40px;
    border-bottom: 2px solid #ababab;
}

#data-table tr.footer:hover {
    background: #bfbfbf;
}

#data-table tr.form {
    background: #f7f7e7;
}

#data-table td {
    color: #505050;
    font-family: Verdana, Arial Cyr, Arial, sans-serif;   
    font-size: 10pt;
    cursor: default;
    vertical-align: top;
    padding: 2px;
}

#data-table td.small {
    font-size: 8pt;
}

.odd {
  background-color: #f7f7f7;
}

.even {
  background-color: #e7e7e7;
}

#head-table {
    width: "100%";
    border-collapse: collapse;
}

#head-table td {
    color: #505050;
    vertical-align: top;
    padding: 5px;
}

#head-table td.blank {
    background-color: transparent;
}

img {
    vertical-align:text-top;
}

.cntr {
  text-align: center;
}

.rght {
  text-align: right;
}

TD {
    vertical-align: top;
    padding:0px 2px 0px 2px;
}

TD.header {
    background: #c1c380;
    color: ;
    font-family: Verdana, Arial Cyr, Arial, sans-serif;   
    font-size: 10pt;
}

TD.small {
    color: #000000;   
    font-family: Verdana, Arial Cyr, Arial, sans-serif;   
    font-size: 8pt;
}

TD.index {
    color: #000000;
    font-family: Verdana, Arial Cyr, Arial, sans-serif;
    font-size: 8pt;
}

TD.blockbottom {
    color: #000000;
    font-family: Verdana, Arial Cyr, Arial, sans-serif;
    font-size: 12pt;
}

TD.white {
    color: #BFBFBF;
    font-family: sans-serif;
    font-size: 8pt;
}

TD.blockhead {
    color: #505050;
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

table#tableCNTR {
    padding:20px 50px 0px 50px;
}
/*
DIV
*/
div.field {
    width:100%;
}
H5 {
    color: #ffffff;   
    font-family: Verdana, Arial Cyr, Arial, sans-serif;   
    font-size: 8pt;
}
H4 {
    color: #ffffff;
    font-family: Verdana, Arial Cyr, Arial, sans-serif;   
    font-size: 10pt;
}
H3 {
    color: #ffffff;   
    font-family: Verdana, Arial Cyr, Arial, sans-serif;   
    font-size: 12pt;
}
H2 {
    color: #ffffff;   
    font-family: Verdana, Arial Cyr, Arial, sans-serif;   
    font-size: 14pt;
}
H1 {
    color: #ffffff;   
    font-family: Verdana, Arial Cyr, Arial, sans-serif;   
    font-size: 16pt;
}
H5.black {
    color: #505050;
    font-family: Verdana, Arial Cyr, Arial, sans-serif;   
    font-size: 8pt;
}
H4.black {
    color: #505050;
    font-family: Verdana, Arial Cyr, Arial, sans-serif;   
    font-size: 10pt;
}
H3.black {
    color: #505050;   
    font-family: Verdana, Arial Cyr, Arial, sans-serif;   
    font-size: 12pt;
}
H2.black {
    color: #505050;   
    font-family: Verdana, Arial Cyr, Arial, sans-serif;   
    font-size: 14pt;
}
H1.black {
    color: #505050;
    font-family: Verdana, Arial Cyr, Arial, sans-serif;   
    font-size: 16pt;
}
H1.branding {
    font-weight: normal;
    margin: 8px 0;
    padding: 0 10px;
}
/*
  FORMS
*/
textarea {
    width:100%;
    font-family: Verdana, Arial Cyr, Arial, sans-serif;    
    font-size: 10pt;
}

input.textlabel {
    background:none;
    border:0;
    color: #505050;
    font-family: Verdana, Arial Cyr, Arial, sans-serif;   
    font-size: 10pt;
}
/*
LOGIN ITEMS
*/
#login {
    background: none repeat scroll 0 0 #EEEEEE;
    font-size: 12px;
    border: 1px solid #5b5b5b;
    padding: 15px;
}

#error {
    background: none repeat scroll 0 0;
    font-size: 12px;
    padding: 15px;
    color: #c80000;
    font-size: 10pt;
}
#user-tools {
    color: #fbf5cb;
    font-size: 12px;
    padding: 1.2em 10px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
#map {
    position: relative;
}