<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv = "Content-Type" content = "text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datepicker.css" media="screen" />
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bp_gui.js"></script></script>
    
    <title> {{ page_title }} </title>
  </head>
  
  <body data-offset="20" data-target=".subnav" data-spy="scroll">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href="/" class="brand">Большие люди</a>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li class="navbar-text">Пользователь: <strong>{{ user.first_name }} {{ user.last_name }}</strong>.</li>
              <li><a href="/logout" rel="tooltip" data-original-title="Покинуть систему">Выйти <i class="icon-share-alt icon-white"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">

      <br><br><br><br>
{% block content %}{% endblock %}

      <br><br><br><br>
<footer class="footer">
  <p class="pull-right"><a href="#">Back to top</a></p>
</footer>

    </div>

<!-- browser/static/js/bp_gui.js -->
<script language="javascript" type="text/javascript">// <![CDATA[
addval= 0;
// if form for edit/insert form is loaded, add its milliseconds to the total
if(document.getElementById('id_dur_lang') != null) {
    addval= document.getElementById('id_dur_lang').value;
};
textDurCountStatic(document.getElementById('tableCNTR'),
    document.getElementById('id_text_dur_total'),
    document.getElementById('id_raw_dur_total'),
    addval
);
// ]]></script>


  </body>
</html>
