{% extends "base.html" %}

{% block content %}

<!-- block:login.html -->

<div class="container">
  <form class="form-horizontal well span5" action="." method="POST">
  {% csrf_token %}
  {% if error %}<legend class="label label-important">{{ error.2 }}</legend>{% endif %}

  <div class="control-group">
    <label for="input01" class="control-label">Имя пользователя</label>
    <div class="controls">
      {{ form.username }}
    </div>
    </div>
    <div class="control-group">
      <label for="input01" class="control-label">Пароль</label>
    <div class="controls">
      {{ form.password }}
    </div>
  </div>  
  <div class="form-actions">
    <input class="btn btn-primary" type="submit" value="Войти" />
  </div>
  </form>
</div>
<!-- endblock:login.html -->

{% endblock %}
