{% extends "base.html" %}

{% block content %}

<!-- block:scriptlist.html -->

<!-- P A G E  H E A D E R -->
<section id="header">
  <div class="page-header">
    <h1>{{ celebrity.name }}</h1>
  </div>

  <div class="row">
	  
    <div class="span4">
      <h3>Управление сценарием</h3>
    </div>

    {% if message %}
      {% for msg in message %}
    <div id="message_{{ forloop.counter }}" class="span3 pull-right">
      <div class="alert alert-{{ msg.0 }}">
        <a class="close" onClick="document.getElementById('message_{{ forloop.counter }}').style.display = 'none';">×</a>
        <strong>{{ msg.1 }}</strong> {{ msg.2 }}
      </div>
    </div>
      {% endfor %}
    {% endif %}
</section>

{% include "includes/navbar_screenwriter" %}

<!-- D A T A  T A B L E -->
<section id="data-table">
  <table id="tableCNTR" class="table table-bordered table-striped">
    {% include "includes/table_header_screenwriter" %}
  <tbody>  
  {% for scene in celebrity.script %}
    {% ifequal forloop.counter scene_id %}
      {% include "includes/form_add_scene" %}
    {% else %}
      {% include "includes/view_script" %}
    {% endifequal %}
  {% endfor %}

  {% if display_form %}
    {% include "includes/form_add_scene" %}
  {% endif %}

  <!-- T A B L E  F O O T E R -->
  <tr class="footer">
    <td colSpan="6" class="right"><p class="pull-right">Общий хронометраж</td>
    <td class="rght">
      <input class="span2" readonly class="textlabel" type="text" id="id_text_dur_total" name="text_dur_total" size="9" value="" />
      <input readonly class="textlabel" type="text" id="id_raw_dur_total" name="raw_dur_total" size="9" value="" style="display:none;" />
    </td>
  </tr>
</table>

{% include "includes/navbar_screenwriter" %}

<!-- browser/static/js/bp_gui.js -->
<script language="javascript" type="text/javascript">// <![CDATA[
addval= 0;
// if form for edit/insert form is loaded, add its milliseconds to the total
if(document.getElementById('id_text_dur_ms') != null) {    
    addval= document.getElementById('id_text_dur_ms').value;
};
textDurCountStatic(document.getElementById('tableCNTR'),
    document.getElementById('id_text_dur_total'),
    document.getElementById('id_raw_dur_total'),
    addval
);
// ]]></script>


<script language="javascript" type="text/javascript">// <![CDATA[
showComplete('celeb_complete', 'id_raw_dur_total', 77000, 83100);
// ]]></script>

<!-- endblock:scriptlist.html -->

{% endblock %}
