{% extends "base.html" %}

{% block content %}

<!-- block:scriptlist.html -->

<!-- P A G E  H E A D E R -->
<table>
  <tr>
    <td class="blockhead">
      <h3 class="black">Управление сценарием</h3>
    </td>
  </tr>
</table>
<table><tr><td><img src="{{ STATIC_URL }}img/spacer.gif" height="30" border="0" /></td></tr></table>

{% include "includes/view_scene_toolbar" %}


<!-- D A T A  T A B L E -->
<table id="data-table">
  <tbody>

  <!-- T A B L E  H E A D E R -->
  <tr class="header">
    <td width="6%"> &nbsp; </td>
    <td width="4%"> п/п </td>
    <td width="15%">Изображение<br/>Источник<br/>Копирайт</td>
    <td class="cntr" width="42%"> Текст </td>
    <td width="10%">Биллборд<br/>Дата<br/>Место<br/>&nbsp;
    <td width="15%"> Комментарий </td>
    <td width="8%"> Хроно-<br/>метраж </td>
  </tr>
  {% if message %}
  <tr><td colSpan=7><p><strong>{{ message }}</strong></p></td></tr>
  {% endif %}
  {% for scene in celebrity.script %}
    {% ifequal forloop.counter scene_id %}
      {% include "includes/form_add_scene" %}
    {% else %}
      {% include "includes/view_script" %}
    {% endifequal %}
  {% endfor %}

  {% if display_form %}
    {% include "includes/form_add_scene" %}
  {% endif %}

  <!-- T A B L E  F O O T E R -->
  <tr class="footer">
    <td colSpan="6" align="right">
      Общий хронометраж:
    </td>
    <td class="rght">
      <input readonly class="textlabel" type="text" id="id_text_dur_total" name="text_dur_total" size="9" value="" />
      <input readonly class="textlabel" type="text" id="id_raw_dur_total" name="raw_dur_total" size="9" value="" style="display:none;" />
    </td>
  </tr>
</table>

<!-- P A G E  F O O T E R -->
{% include "includes/view_scene_toolbar" %}


<!-- browser/static/js/bp_gui.js -->
<script language="javascript" type="text/javascript">// <![CDATA[
addval= 0;
// if form for edit/insert form is loaded, add its milliseconds to the total
if(document.getElementById('id_text_dur_ms') != null) {    
    addval= document.getElementById('id_text_dur_ms').value;
};
textDurCountStatic(document.getElementById('tableCNTR'),
    document.getElementById('id_text_dur_total'),
    document.getElementById('id_raw_dur_total'),
    addval
);
// ]]></script>


<script language="javascript" type="text/javascript">// <![CDATA[
showComplete('celeb_complete', 'id_raw_dur_total', 77000, 83100);
// ]]></script>

<!-- endblock:scriptlist.html -->

{% endblock %}
