{% extends "base.html" %}

{% block content %}

<!-- P A G E  H E A D E R -->
<table>
  <tr>
    <td class="blockhead">
    <div id="page-wrap">
      <ul class="dropdown">
        <li><a class="menu" href="#">Большие люди</a>
        <ul class="sub_menu">
          <li><a class="menu" href="/celebrity/"><i>Все</i></a></li>
          {% for celeb in celeblist %}
          <li><a class="menu" href="/celebrity/{{ celeb.slug }}/">{{ celeb.name }}</a></li>
          {% endfor %}
        </ul>
        </li>
      </ul>
    </div>
    </td>
    <td class="blockhead">
      <h3 class="black">{{ celebrity.name }}</h3>
    </td>
  </tr>
</table>

<!-- D A T A  T A B L E -->
<table id="data-table">
  <tbody>

  <!-- T A B L E  H E A D E R -->
  <tr class="header">
    <td width="8%"> &nbsp; </td>
    <td width="4%"> п/п </td>
    <td width="13%">Изображение<br/>Источник<br/>Копирайт</td>
    <td width="10%"> Биллборд </td>
    <td class="cntr" width="45%"> Текст </td>
    <td width="10%">Дата<br/>Место<br/>&nbsp;
    <td width="10%"> Хронометраж </td>
  </tr>
  {% if message %}
  <tr><td colSpan=7><p><strong>{{ message }}</strong></p></td></tr>
  {% endif %}
  {% for scene in celebrity.script %}
    {% ifequal forloop.counter scene_id %}
      {% include "includes/form_add_scene" %}
    {% else %}
      {% include "includes/view_script" %}
    {% endifequal %}
  {% endfor %}

  {% if display_form %}
    {% include "includes/form_add_scene" %}
  {% endif %}

  <!-- T A B L E  F O O T E R -->
  <tr class="footer">
    <td colSpan="6" align="right">
      Общий хронометраж:
    </td>
    <td class="rght">
      <input readonly class="textlabel" type="text" id="id_text_dur_total" name="text_dur_total" size="9" value="" />
      <!-- browser/static/js/bp_gui.js -->
      <script language="javascript" type="text/javascript">// <![CDATA[
      textDurCountStatic(document.getElementById('tableCNTR'), document.getElementById('id_text_dur_total'), 0);
      // ]]></script>
    </td>
  </tr>
</table>

<!-- S P A C E R -->
<table><tr><td><img src="{{ STATIC_URL }}img/spacer.gif" height="30" border="0" /></td></tr></table>

<!-- P A G E  F O O T E R -->
<table id="head-table" width="100%">
  <tr>
    {% if not celebrity.ready_to_assemble %}
      {% if not display_form %}
    <td class="blockhead">
      <a class="menu" href="/celebrity/{{ celebrity.slug }}/scene/add/">
      <img src="{{ STATIC_URL }}img/ic_text_document.png" alt="New scene" title="New scene" />
      Новая сцена
      </a>
    </td>
    <td class="blank"><img src="{{ STATIC_URL }}img/spacer.gif" width="10" border="0"></td>
    <td class="blockhead">
      <a class="menu" href="/celebrity/">
      <img src="{{ STATIC_URL }}img/ic_list.png" height="32" alt="Back" title="Back" />
      Вернуться к списку знаменитостей
      </a>
    </td>
      {% endif %}
    {% endif %}
    <td class="blank"><img src="{{ STATIC_URL }}img/spacer.gif" width="10" border="0"></td>
    <td>
      <ul class="dropdown">
        <li><a class="menu" href="#">Выбрать</a>
        <ul class="sub_menu">
          <li><a class="menu" href="/celebrity/"><i>Все</i></a></li>
          {% for celeb in celeblist %}
          <li><a class="menu" href="/celebrity/{{ celeb.slug }}/">{{ celeb.name }}</a></li>
          {% endfor %}
        </ul>
        </li>
      </ul>
    </td>
    <td class="blockhead">
      <h5 class="black">{{ celebrity.name }}</h5>
    </td>
    <td class="blank"><img src="{{ STATIC_URL }}img/spacer.gif" width="350" height="10" border="0"></td>
    {% if not celebrity.ready_to_assemble %}
      {% if not display_form %}
    <td class="blank">
      <form name="formConfirmComplete" action="/celebrity/{{ celebrity.slug }}/complete/" method="post">
      {% csrf_token %}
      <button type="submit" id="{{ celebrity.slug }}_complete" value="Complete celebrity script"
      onClick="if(!confirm('Завершение сценария означает, что его больше нельзя будет редактировать. Вы уверены?'))
      return false;">
      <img src="{{ STATIC_URL }}img/ic_ok.png" alt="Complete"/> Завершить сценарий
      </button>
      </form>
    </td>
      {% endif %}
    {% endif %}
  </tr>
</table>
{% endblock %}
